#header {
	background-color: #e7dce9;
	margin: 0 auto;
	text-align: center;

  width: 700px;
	height: 50px;
	top: -25px;
	position: relative;
	padding-top: 10px;
}

/* Only the #header lists should be inlined! */
#header li {
    display: inline;
    padding: 20px;
}

/* > means direct parenthood */
#header li > a {
    /* color: white; */
    font-weight: bold;
    font-family: Ubuntu, Verdana;
}

/* Setting other id's: footer, left and right */
/* ID's are unique, classes are not unique */
#footer {
	position: absolute;
	bottom: 10px;
	left: 15px;

	font-size: 12px;
}

#left {
	position: relative;
	float: left;
	width: 68%;
	margin-top: 20px;
	margin-left: 20px;
}

/* There should be a space between elements of lists inside the left div */
#left li {
    margin: 10px 0;
}
#left  a:hover {  color: #ff0000; }

#right {
	position: relative;
	float: right;
	width: 25%;
	margin-top: 40px;
  line-height: 5px;
}
#right a:hover {  color: #ff0000; font-weight: bold;  }

/* Some properties common to all the same tags */
h3 { margin-bottom: 30px; }

div { border-radius: 10px; }

/* Common hyperlink properties */
a {
    text-decoration: none;
    color:black;
    font-family: Verdana, sans-serif;
}

/* Setting Classes: language, softmark, heavymark
/* The language tag should differentiate from other texts */
.language {
	color: blue;
	font-size: 14px;
	font-style: italic;
}
/* Does this work?
.language:hover { font-weight: lighter; }
*/

/* Some coloring style to use with span tags throughout the website */
.softmark  { color: #76a36e; }
.heavymark { color: #9b6ea3; font-weight: bold; }
